In [1]:
import pandas as pd
import numpy as np

In [2]:
# Semilla
np.random.seed(42)

In [3]:
# Simulamos dos años de datos diarios
n_days = 365 * 2
dates = pd.date_range(start="2022-01-01", periods=n_days)

In [5]:
# Simulación de precios
base_price = 100
price = base_price + np.random.normal(0, 5, n_days)

In [6]:
# Simulación de ventas (inversamente relacionadas con el precio)
base_demand = 500
demand = base_demand - (price - base_price) *3 +np.random.normal(0, 20, n_days)

In [7]:
# Agregamos una variable binaria para procomociones
promo = np.random.choice([0, 1], size=n_days, p=[0.8, 0.2])

In [8]:
# Creamos dataframe
df = pd.DataFrame({
    'date': dates, 
    'price': price,
    'demand': demand,
    'promo': promo
})

In [9]:
df.head()

        date       price      demand  promo
0 2022-01-01  102.483571  496.466193      0
1 2022-01-02   99.308678  482.506509      0
2 2022-01-03  103.238443  498.449727      0
3 2022-01-04  107.615149  443.102880      0
4 2022-01-05   98.829233  524.095413      0

In [10]:
df.to_parquet('../data/df_1.parquet')